/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* creates padding around the thumb */
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

/* For Firefox */
* {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}

:root {
    --background: #dedede;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
}

/* General Styling */
body {
    font-size: 0.8rem;
    font-family: Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background);
}

/* Dashboard Container */
.dashboard-container {
    display: flex;
    width: 100%;
    flex: 1;     
    max-height: 94vh;
}
/* Main Content */
.main-content {
    margin-left: 5vw;
    width: 95vw;
    flex-grow: 1;
}
.data-container {
    height: 77vh;
    overflow-y: auto;
    background: white;
    padding: 5px;
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table {
    width: 100%;
    border-collapse: collapse; 

}
    .table th, .table td {      
        border-bottom: 1px solid #ddd;
        text-align: left;
        border: 1px solid #ddd;
    }
    .table th {
        padding: 5px;
        background: #eeeeee;
        color: black;
        position: sticky;
    }
    .table td {
        padding: 15px;
    }
 /*inside products table*/
.action-dropdown {
    position: relative;
    display: inline-block;
}

.action-toggle {
    cursor: pointer;
    font-size: 1.2em;
    position: center;
}

.action-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100;
    white-space: nowrap;
}

/* Use a list for vertical layout */
.action-list {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

    .action-list li {
        margin-bottom: 8px;       
    }

        .action-list li:last-child {
            margin-bottom: 0;
            border-top: solid 1px var(--navbar-dark-secondary);
            padding-top: 5px;
        }

        /* Optionally, adjust button display within list items */
        .action-list li a,
        .action-list li form {
            display: block;
        }

.link {
    text-decoration: none;
    color: var(--navbar-dark-primary);
}


/* Table styling */
.table-container {
    overflow-x: auto;
}

.top-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensure vertical alignment */
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    background: var(--navbar-dark-primary);
    color: var(--navbar-light-primary);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
/* Ensure both navbars behave correctly */
.top-navbar {
    display: flex;
    flex: 1; /* Distribute space evenly */
}
/* Left Navigation Bar */
.left-navbar {
    justify-content: flex-start; /* Align items to the far left */
}
.right-navbar {
    justify-content: flex-end; /* Align items to the far right */
}
.top-navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
    /* Navbar items */
    .top-navbar ul li {
        margin: 10px 10px;
    }

        .top-navbar ul li a {
            display: block;
            padding: 10px 15px;
            color: white;
            text-decoration: none;
            background: #444;
            border-radius: 5px;
            transition: background 0.3s ease-in-out;
        }

            /* Active and hover styles */
            .top-navbar ul li a:hover,
            .top-navbar ul li a.active {
                background: #ff9800;
            }

/* Main Content */
.main-content {
    margin-top: 60px; /* Prevent content from being hidden behind navbar */
    padding: 20px;
}

/* Hide all tab content initially */
.tab-content {
    display: none;
}

    /* Show active tab */
    .tab-content.active {
        display: block;
    }


.alert {   
    padding: 10px;
    background-color: #ffc107;
    color: #856404;    
    margin: auto;     
    width: 30vw;
}

    .alert a {
        color: #007bff;
        text-decoration: underline;
        font-weight: bold;
        text-align: center;
    }

/* Highlighting low-stock products */
.low-stock {
    background-color: rgba(255, 165, 0, 0.2); /* Light orange */
    color: #d9534f; /* Warning red */
    font-weight: bold;
}

/* No data message */
.no-data {
    text-align: center;
    font-style: italic;
    color: #888;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 10px;
}

.card {
    background: white;
    font-size: 12px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card h3 {
        margin: 0 0 10px;
        color: #333;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif
    }

    .card p {
        margin: 5px 0;
        font-size: 14px;
        color: #555;
    }

    /*mainly from the Add purchases tab*/
.horizontal-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    height: 45vh; 
}

.card.purchase-card {
    background: var(--navbar-dark-secondary);   
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: auto;    
    transition: transform 0.2s;
}

    .card.purchase-card:hover {
        transform: translateY(-5px);
        background: var(--navbar-dark-primary);
    }

    .card.purchase-card h3 {
        margin: 0 0 10px;
        color: var(--navbar-light-primary);
    }

    .card.purchase-card p {
        margin: 5px 0;
        font-size: 14px;
        color: var(--navbar-light-secondary);
    }
/* Container for the search bar and add button */
.search-add-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the search input and the add button */
    margin-bottom: 20px;
}

/* Style for the search bar */
#search-pending {
    flex-grow: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style for the add button */
.btn-add {
    background-color: #28a745; /* Green background for add action */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em; /* Increase size to display the plus sign clearly */
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-add:hover {
        background-color: #218838;
    }

.button-container {
    margin-top: 20px;
    text-align: center;
}

.btn.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn.btn-secondary:hover {
        background-color: #5a6268;
    }

.btn.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn.btn-primary:hover {
        background-color: #0069d9;
    }

.no-data-card {
    text-align: center;
    font-style: italic;
    color: #888;
    width: 100%;
}


/* Expiry Status */
.expired {
    background-color: #ffcccc; /* Light red */
    color: red;
}

.nearing-expiry {
    background-color: #e0e0e0; /* Light yellow */
    color: #856404;
}

 /*stock alert page*/
.vertical-card-container {
    display: grid;    
    flex-direction: column; /* Stacks cards vertically */
    gap: 15px;
    padding: 15px 0;
    margin: 20px;
    height: 90vh;
    max-width: auto; /* Adjust width as needed */
}

.vertical-card {
    background: #e0e0e0;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;   
    align-items: center;
    text-align: center; 
    
}
.card-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;   
}

    .vertical-card:hover {
        transform: translateY(-5px);
    }

    .vertical-card h3 {
        margin: 0 0 5px;
        color: #333;
    }

.vertical-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
    border-left: solid 1px var(--navbar-dark-secondary);
}

.low-stock {
    background-color: #e0e0e0; 
    color: #856404;
}

/* Button Styling */
.btn-purchase {
    background: var(--navbar-dark-primary);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

    .btn-purchase:hover {
        background: #218838;
    }

/* No data card */
.no-data-card {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #6c757d;
}

/*in purchases tab*/
.btn-remove {
    background-color: #d9534f; /* red background */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

    .btn-remove:hover {
        background-color: #c9302c;       
    }

.for-product {    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.btn-primary {
   background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
.btn-primary:hover {
  background-color: #218838;
}
/* Footer */
.footer { 
    background-color: #e0e0e0;
    text-align: center;
    height: 1vh;
    padding: 0;
    font-size: 0.8rem;
    color: #555;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);    
}