:root {
    --background: #dedede;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
}

/* Global reset */
body {
    background: var(--background);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

/* Institution Header */
.institution-header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: var(--navbar-dark-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
}

/* Main container */
.main-dash-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
}

/* Card container */
.card-container {   
    background-color: rgba(255, 255, 255, 0.9); /* Light background */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 70vw;
    position: center;
    width: auto;
    margin: auto;
}
    .card-container a:hover {
        background: #ff9800;
    }
/* Card grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

/* Card styles */
.card {
    background-color: var(--navbar-dark-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 50vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-content {
    padding: 5px;
    text-align: center;
}

.card h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
}

/* Footer */
.footer {
    background-color: #e0e0e0;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    color: #555;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
 }

